<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="https://www.svgrepo.com/show/24782/dog.svg" alt="Dog icon" style="width: 35px; height: 35px;"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/fidos">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/fetch-fido">Fetch a Fido</a>
      </div>
    </div>
  </div>
</nav>

