<h2 class="mt-3">Create a new Fido!</h2>

<app-fido-fetcher></app-fido-fetcher>

<form (ngSubmit)="onSubmit(form)" #form="ngForm" class="mt-3">

  <div class="form-group">
    <label for="name">Fido Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      ngModel
      required
      #nameCtrl="ngModel"
    >
    <span class="text-muted" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name</span>
  </div>

  <div class="form-group">
    <label for="name">Age:</label>
    <input
      type="text"
      name="age"
      id="age"
      class="form-control"
      pattern="^\d+$"
      ngModel
      required
      #ageCtrl="ngModel"
    >
    <span class="text-muted" *ngIf="ageCtrl.invalid && ageCtrl.touched">Please enter a positive integer age</span>
  </div>

  <div class="form-group">
    <label for="name">Profession:</label>
    <input
      type="text"
      name="profession"
      id="profession"
      class="form-control"
      ngModel
      required
      #jobCtrl="ngModel"
    >
    <span class="text-muted" *ngIf="jobCtrl.invalid && jobCtrl.touched">Please enter a profession</span>
  </div>

  <div class="form-group">
    <label for="name">Hometown:</label>
    <input
      type="text"
      name="hometown"
      id="hometown"
      class="form-control"
      ngModel
      required
      #townCtrl="ngModel"
    >
    <span class="text-muted" *ngIf="townCtrl.invalid && townCtrl.touched">Please enter a hometown</span>
  </div>

  <div class="form-group">
    <label for="name">Likes:</label>
    <input
      type="text"
      name="likes"
      id="dislikes"
      class="form-control"
      ngModel
    >
  </div>

  <div class="form-group">
    <label for="name">Dislikes:</label>
    <input
      type="text"
      name="dislikes"
      id="dislikes"
      class="form-control"
      ngModel
    >
  </div>

  <div class="form-group">
    <label for="name">Picture:</label>
    <input
      type="text"
      name="pic"
      id="pic"
      class="form-control"
      ngModel
    >
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add Fido</button>

</form>
