<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{fido.pic}} alt="Picture of: {{fido.name}}" class="img-fluid img-thumbnail m-2">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{fido.name}}</h5>
        <ul>
          <li class="card-text">Age: {{fido.age}}</li>
          <li class="card-text">Profession: {{fido.profession}}</li>
          <li class="card-text">Hometown: {{fido.hometown}}</li>
          <li class="card-text">Likes: {{fido.likes}}</li>
          <li class="card-text">Dislikes: {{fido.dislikes}}</li>
        </ul>

      </div>
    </div>
  </div>
</div>
